body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  position: fixed;
  z-index:1; 
  background-color: #111;
  top: 0;
  width: 100%;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
  font-size: 27px;
}

.topnav a.settings {
  background-color: #2b6cb0;
  color: white;
}

.topnav-right {
  color:white;
  font-size: 24px;
  float: right;
  text-align: center;
  padding: 14px 18px;
}

    .container {
      width: 100%;
      height: 100%;
    }

    .leftpane {
        width: 25%;
        height: 50%;
        float: left;
        background-color: lightgray;
        border-collapse: collapse;
    }

    .middlepane {
        width: 50%;
        height: 100%;
        float: left;
        background-color: royalblue;
        border-collapse: collapse;
    }

    .rightpane {
      width: 25%;
      height: 100%;
      position: relative;
      float: right;
      background-color: yellow;
      border-collapse: collapse;
    }

    .toppane {
      width: 100%;
      height: 100px;
      border-collapse: collapse;
      background-color: #4da6ff;
    }


.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}



.square {
  height: 100px;
  width: 100px;
  background-color: #555;
  text-align: center; 
  vertical-align: middle; 
  line-height: 100px;
}





