{% extends 'base.html' %}

{% block content %}
<main>
  <div class="container-fluid">
    <!--<h1 class="mt-4">Info</h1> !-->
    <div class = "row">
      <div class = "col-md-7 py-0">
        <div class="row">
          <div class="col-md-12">
            <div class="card mb-6">
              <div class="card-chart-header small ">Variable number 1</div>
              <div class="card-body px-0 py-0"><canvas id="variable1" width="200%" height="50"></canvas></div>
            </div>
          </div>
	</div>
	<div class = "row">
          <div class="col-md-12">
            <div class="card mb-6 px-0 py-0">
              <div class="card-chart-header small"></i>Variable number 2</div>
<div class="card-body px-0 py-0"><canvas id="variable2" width="200%" height="50"></canvas></div>
</div>
</div>
</div>
<div class = "row">
  <div class="col-md-12">
    <div class="card mb-6 px-0 py-0">
      <div class="card-chart-header small ">Variable number 3</div>
      <div class="card-body px-0 py-0"><canvas id="chart_variable3" width="200%" height="50"></canvas></div>
    </div>
  </div>
</div>
</div>
<div class = "col-md-5 py-0 px-0  mr-0">
  
  <div class="row">
    
    <div class="col-xl-5b px-1 py-0 mr-0">
      <div class="card bg-primary text-dark mb-2">
        <div class="card-header d-flex align-items-center justify-content-between">
          <a class="small text-dark stretched-link" href="#">Temperature</a>
        </div>
        <div class="card-body"><span class = "reading" id="temperature">000.00</span> &#8451;</div>
      </div>
    </div>
    
    <div class="col-xl-5b px-1 py-0 mr-0">
      <div class="card bg-primary text-dark mb-2">
        <div class="card-header d-flex align-items-center justify-content-between">
	  <a class="small text-dark stretched-link" href="#">Pressure</a>
        </div>
        <div class="card-body"><span class = "reading" id = "pressure">000.00</span> Pa</div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xl-5b col-md-8 px-1 py-0">
      <div class="card bg-primary text-dark mb-2">
        <div class="card-header d-flex align-items-center justify-content-between">
          <a class="small text-dark stretched-link" href="#">variable3</a>
        </div>
        <div class="card-body"><span class = "reading" id = "variable3">000.00</span> &#8451;</div>
      </div>
    </div>
    <div class="col-xl-5b px-1 py-0 col-md-8">
      <div class="card bg-primary text-dark mb-2">
        <div class="card-header d-flex align-items-center justify-content-between">
	  <a class="small text-dark stretched-link" href="#">variable4</a>
        </div>
        <div class="card-body"><span class = "reading" id = "variable4">000.00</span> Pa</div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xl-5b col-md-8 px-1 py-0">
      <div class="card bg-primary text-dark mb-2">
        <div class="card-header d-flex align-items-center justify-content-between">
          <a class="small text-dark stretched-link" href="#">variable5</a>
        </div>
        <div class="card-body"><span class = "reading" id = "variable5">000.00</span> &#8451;</div>
      </div>
    </div>
    <div class="col-xl-5b px-1 py-0 col-md-8">
      <div class="card bg-primary text-dark mb-2">
        <div class="card-header d-flex align-items-center justify-content-between">
	  <a class="small text-dark stretched-link" href="#">variable6</a>
        </div>
        <div class="card-body"><span class = "reading" id = "variable6">000.00</span> Pa</div>
      </div>
    </div>
  </div>
  
  
  
</div>
</div>
</div>
</main>
{% endblock %}
