{% extends 'base.html' %}

{% block content %}
<div class="container">
  <form>
    <div class="row justify-content-center">
      <div class="card rounded-lg w-100 px-0 py-0">
        <div class="card-header px-1 py-1">Personal Details</div>
        <div class="card-body px-1 py-1">
          <span class="form-group"><label class="small" for="inputName">Name</label><input class="form-control py-0" id="inputName" type="name" placeholder="John Smith" /></span>

          <span class="form-group"><label class="small" for="inputEmailAddress">Age</label><input class="form-control py-0" id="inputAge" type="number" placeholder=87 /></span>
          <span class="form-group"><label class="small" for="inputHeight">Height</label><input class="form-control py-0" id="inputHeight" type="number" placeholder=180 /> cm</span>
          <span class="form-group"><label class="small" for="inputWeight">Weight</label><input class="form-control py-0" id="inputWeight" type="number" placeholder=80 /> kg</span>
	</div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="card rounded-lg w-100 px-0 py-0">
        <div class="card-header px-1 py-1">Thresholds</div>
        <div class="card-body px-1 py-1">
          <span class="form-group"><label class="small" for="inputPassword">Lower</label><input class="form-control py-0" id="inputThres1" type="number" placeholder=1 /></span>
          <span class="form-group"><label class="small" for="inputPassword">Upper</label><input class="form-control py-0" id="inputThres2" type="number" placeholder=10 /></span>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
        <div class="card card-footer w-100 px-0 py-0 rounded-lg">
          <span class="form-group"><input class="form-control py-0" id="inputPassword" type="submit" value="Submit Changes" /></span>
	</div>
    </div>
  </form>
</div>
{% endblock %}
