{% set settings_active = True %}
{% extends 'base.html' %}

{% block content %}
<div class="container">
  <form action="{{ url_for('data_handler') }}" method="post">
    <div class="row justify-content-center">
      <div class="card rounded-lg w-100 px-0 py-0">
        <div class="card-header px-1 py-1">Personal Details
	  <div class="float-right"><a class="unlock personal" id="toggle_personal" onclick="toggle_lock_personal()">
	      <svg aria-hidden="true" id="personal_lock" focusable="false" data-prefix="fas" data-icon="lock" class="svg-inline--fa fa-lock fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
		<path class="path-icon" d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z"></path>
	      </svg>
	    </a></div>
	</div>
        <div class="card-body px-1 py-1">
          <span class="form-group"><label class="small" for="inputName">Name</label><input class="form-control py-0" id="inputName" type="name" value="John Smith" readOnly name='patient_name' /></span>

          <span class="form-group"><label class="small" for="inputEmailAddress">Age</label><input class="form-control py-0" id="inputAge" type="number" readOnly placeholder=87 /></span>
          <span class="form-group"><label class="small" for="inputHeight">Height (cm)</label><input class="form-control py-0" id="inputHeight" type="number" readOnly placeholder=180 /></span>
          <span class="form-group"><label class="small" for="inputWeight">Weight (kg)</label><input class="form-control py-0" id="inputWeight" type="number" readOnly placeholder=80 /></span>
	</div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="card rounded-lg w-100 px-0 py-0">
        <div class="card-header px-1 py-1">
	  Thresholds
	  <div class = "float-right"><a class="unlock thresholds" id="toggle_thresholds" onclick="toggle_lock_thresholds()">
	    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="lock" class="svg-inline--fa fa-lock fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
	      <path class="path-icon" d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z"></path>
	    </svg>
	    </a>
	    </div>
	</div>
        <div class="card-body px-1 py-1">
          <span class="form-group"><label class="small" for="inputVar1">pressure_air_supply</label><input class="form-control py-0" id="inputThres1" type="number" value=1 name="variable1" readOnly /></span>
          <span class="form-group"><label class="small" for="inputVar2">pressure_air_regulated</label><input class="form-control py-0" id="inputThres2" type="number" value=1 name="variable2" readOnly /></span>
          <span class="form-group"><label class="small" for="inputVar3">pressure_o2_supply</label><input class="form-control py-0" id="inputThres3" type="number" value=1 name="variable3" readOnly /></span>
          <span class="form-group"><label class="small" for="inputVar4">pressure_o2_regulated</label><input class="form-control py-0" id="inputThres4" type="number" value=1 name="variable4" readOnly /></span>
          <span class="form-group"><label class="small" for="inputVar4">pressure_buffer</label><input class="form-control py-0" id="inputThres4" type="number" value=1 name="variable4" readOnly /></span>
          <span class="form-group"><label class="small" for="inputVar4">pressure_inhale</label><input class="form-control py-0" id="inputThres4" type="number" value=1 name="variable4" readOnly /></span>
          <span class="form-group"><label class="small" for="inputVar4">pressure_patient</label><input class="form-control py-0" id="inputThres4" type="number" value=1 name="variable4" readOnly /></span>
          <span class="form-group"><label class="small" for="inputVar4">readback_valve_air_in</label><input class="form-control py-0" id="inputThres4" type="number" value=1 name="variable4" readOnly /></span>
          <span class="form-group"><label class="small" for="inputVar4">readback_valve_02_in</label><input class="form-control py-0" id="inputThres4" type="number" value=1 name="variable4" readOnly /></span>
          <span class="form-group"><label class="small" for="inputVar5">readback_valve_out</label><input class="form-control py-0" id="inputThres5" type="number" value=1 name="variable5" readOnly /></span>
          <span class="form-group"><label class="small" for="inputVar6">readback_valve_scavenge</label><input class="form-control py-0" id="inputThres6" type="number" value=1 name="variable6" readOnly /></span>
          <span class="form-group"><label class="small" for="inputVar6">readback_valve_purge</label><input class="form-control py-0" id="inputThres6" type="number" value=1 name="variable6" readOnly /></span>
          <span class="form-group"><label class="small" for="inputVar6">readback_mode</label><input class="form-control py-0" id="inputThres6" type="number" value=1 name="variable6" readOnly /></span>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
          <span class="form-group"><input class="form-control py-0" id="inputPassword" type="submit" value="Submit Changes" /></span>
    </div>
  </form>
</div>
{% endblock %}

{% block scripts %}
<script type=text/javascript>
  function toggle_lock_personal() {
  if ( document.getElementById("inputName").readOnly == true){
  document.getElementById("inputName").readOnly = false;
  document.getElementById("inputAge").readOnly = false;
  document.getElementById("inputWeight").readOnly = false;
  document.getElementById("inputHeight").readOnly = false;
  }
  else {
  document.getElementById("inputName").readOnly   = true;
  document.getElementById("inputAge").readOnly    = true;
  document.getElementById("inputWeight").readOnly = true;
  document.getElementById("inputHeight").readOnly = true;
  }
  }
  function toggle_lock_thresholds() {
  if ( document.getElementById("inputThres1").readOnly == true){
  document.getElementById("inputThres1").readOnly = false;
  document.getElementById("inputThres2").readOnly = false;
  document.getElementById("inputThres3").readOnly = false;
  document.getElementById("inputThres4").readOnly = false;
  document.getElementById("inputThres5").readOnly = false;
  document.getElementById("inputThres6").readOnly = false;

  }
  else {
  document.getElementById("inputThres1").readOnly = true;
  document.getElementById("inputThres2").readOnly = true;
  document.getElementById("inputThres3").readOnly = true;
  document.getElementById("inputThres4").readOnly = true;
  document.getElementById("inputThres5").readOnly = true;
  document.getElementById("inputThres6").readOnly = true;
  }
  }


</script>

{% endblock %}
